.acti_haeding{
    font-size: 100px;
    color: #fff;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.5) 6.44%, var(--white-1) 95.08% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}



@media (max-width: 767px) {
    .acti_haeding {
      font-size: 60px;
      line-height: 60px;
    }
  }
  @media (min-width:767px)and (max-width: 1289px){
    .acti_haeding {
      font-size: 80px;
      line-height: 100px;
    }
}